.app-container {
  background-color: #fff;
}
.settingPageMenu {
  height: 340px;
  padding: 0 10px;
}
/* add account page */
.addAccount {
  padding-bottom: 20px;
  background-color: white;
}
.account-form-container {
  padding: 20px;
  width: 90%;
  margin: 6% auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.account-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #00aaff;
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  margin-right: 10px;
}

.total-amount {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #2e6da4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.checkout-btn:hover {
  background-color: #23527c;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); /* Apply blur effect to background */
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 40%; /* Responsive width */

  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.password-input {
  width: 100%; /* Make input fields full width */
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
  outline: none;
  transition: border-color 0.3s ease;
}

.password-input:focus {
  border-color: #007bff; /* Focus color */
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn-modal,
.submit-btn-modal {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 45%;
  box-sizing: border-box;
}

.cancel-btn-modal {
  background-color: #f44336;
  color: white;
}

.submit-btn-modal {
  background-color: #4caf50;
  color: white;
}

.cancel-btn-modal:hover,
.submit-btn-modal:hover {
  opacity: 0.8;
}
