.addAccount {
  padding-bottom: 20px;
  background-color: white;
}
.account-form-container {
  padding: 20px;
  width: 90%;
  margin: 6% auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.account-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #00aaff;
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  margin-right: 10px;
}

.total-amount {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #2e6da4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.checkout-btn:hover {
  background-color: #23527c;
}
