* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100vh;
}

.loader .blur {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 1;
}

.loaderContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.loaderContainer .contain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loaderContainer .contain img {
  width: 200px;
}
.progressBar {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 99;
  width: 80%;
}

/* title */
.title {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.title h3 {
  font-weight: 500;
  font-size: 1rem;
}
.title a {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(1, 94, 147);
  font-weight: 500;
}
.title a:hover {
  color: black;
}
.white {
  background-color: #fff;
  padding: 0 10px;
  margin-top: -2%;
  padding-bottom: 1px;
}
.commonTitleHeading {
  font-size: 1.3rem;
}
.dateFull {
  font-size: 0.9rem;
  padding: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(105, 105, 105);
}

.p-autocomplete-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 658px;
  transform-origin: center top;
}

li.p-autocomplete-item {
  padding: 10px !important;
}

.green{
  font-weight: 500;
  color: rgb(8, 176, 95);
}
.red{
  color: red;
}
.orange{
  font-weight: 500;
  color: rgb(6, 81, 230);
}
.moneyAdd{
  font-weight: 500;

  color: rgb(245, 116, 30);

}



/* card pay form ui */
.payment-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  max-width: 400px;
  margin: 0 auto; /* Centers the form on the page */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.payment-form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Form styling */
.payment-form {
  width: 100%;
}

/* CardElement container styling */
.card-element-wrapper {
  margin-bottom: 20px;
}

/* Styling for the CardElement */
.card-element {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

/* Button styling */
.pay-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #0056b3;
}
