* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
}

.loader .blur {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 1;
}

.loaderContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.loaderContainer .contain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loaderContainer .contain img {
  width: 200px;
}
.progressBar {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 99;
  width: 80%;
}

/* title */
.title {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.title h3 {
  font-weight: 500;
  font-size: 1rem;
}
.title a {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(1, 94, 147);
  font-weight: 500;
}
.title a:hover {
  color: black;
}
.white {
  background-color: #fff;
  padding: 0 10px;
  margin-top: -2%;
  padding-bottom: 1px;
}
.commonTitleHeading {
  font-size: 1.3rem;
}
.dateFull {
  font-size: 0.9rem;
  padding: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(105, 105, 105);
}

.p-autocomplete-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 658px;
  transform-origin: center top;
}

li.p-autocomplete-item {
  padding: 10px !important;
}

.green{
  color: rgb(8, 176, 95);
}
.red{
  color: red;
}
.orange{
  color: rgb(6, 81, 230);
}